{% extends "base.html" %}

{% block title %}Section {{ section }} : {{ section_name }}{% endblock %}

{% block content %}
<form role="form" id="report_entity_filter" method="GET">
	{% csrf_token %}
	<div class="form-group inline-entity-container">
		<label for="entity_filter_division_provinciale_sante">R.D.C</label>
		{% include "parts/entity_filter_select.html" with root=root lineage=lineage children=children %}
		<label for="filter_perioda">De</label>
		{% include "parts/period_filter_select.html" with periods=periods selected_period=perioda period_suffix="a" %}
		<label for="filter_periodb">À</label>
		{% include "parts/period_filter_select.html" with periods=periods selected_period=periodb period_suffix="b" %}
	</div>
    <button type="submit" class="btn btn-default btn-primary btn-xs">sélectionner</button>
</form>
{% block section_main %}
<div class="row">
    <div class="col-md-12">
    	{% block indicator_loop %}
    	{% for indic_slug, trd in elements.items %}
    	<div class="panel panel-default">
    		<div class="panel-heading">
    			<a name="{{ trd.indicator.number }}"></a>{{ trd.indicator.number }} : {{ trd.indicator.name }} <button class="btn" data-clipboard-text="{{ baseurl }}#{{ trd.indicator.number }}"><i class="glyphicon glyphicon-link"></i></button></div>
    		<div class="panel-body">
    			<div id="graph-{{ indic_slug }}"></div>
    			<table class="table">
    				<thead>
	    				<tr>
	    					<th>Période</th>
	    					<th>Valeur</th>
	    					<th>Numérateur</th>
	    					<th>Dénominateur</th>
	    					<th>Détails</th>
	    				</tr>
	    			</thead>
					{% for point in trd.points %}
					<tr>
						<th>{{ point.period }}</th>
						{% if point.has_data %}
						<td>{{ point.human }}</td>
						<td>{{ point.formatted_numerator }}</td>
						<td>{{ point.formatted_denominator }}</td>
						<td><a href="{% url 'raw_data_record' record_id=point.id %}"><i class="fa fa-info-circle"></i></a></td>
						{% else %}
						<td colspan="4">-</td>
						{% endif %}
    				</tr>
					{% endfor %}

					<tr><th colspan="5" class="text-center">Aggrégats annuels</th></tr>
					{% for year_point in trd.year_elements %}
					<tr>
						<th>{{ year_point.year }}</th>
						{% if year_point.has_data %}
						<td>{{ year_point.human }}</td>
						<td>{{ year_point.formatted_numerator }}</td>
						<td>{{ year_point.formatted_denominator }}</td>
						<td></td>
						{% else %}
						<td colspan="4">-</td>
						{% endif %}
    				</tr>
					{% endfor %}
    			</table>
			</div>
		</div>
		{% endfor %}
		{% endblock %}
    </div>
</div>
{% endblock %}
{% endblock %}

{% block onJQready %}
new Clipboard('.btn');
var baseURL = '{% url 'api_entities_get_children' blank_uuid %}'.split("/");
baseURL.pop();
baseURL = baseURL.join("/");
entities_browser = getEntitiesBrowser({
    parentID: 'report_entity_filter',
    baseURL: baseURL,
    root: "{{ root.uuid }}",
    lineage: [{% for s in lineage %}"{{ s }}",{% endfor %}],
    lineage_data: [{% for d in lineage_data %}"{{ d}}",{% endfor %}],
    auto_launch: true,
    add_default_option: true,
    default_option: {value: '-1', label: "AUCUN"}
});

var blank_uuid = "{{ blank_uuid }}";
$('form').on('submit', function (e) {
	e.preventDefault();
	var ass = $('select[data-level="aire_sante"]');
	console.log(ass);
	var zss = $('select[data-level="zone_sante"]');
	var dpss = $('select[data-level="division_provinciale_sante"]');
	var none = '-1';
	var sel = '{{ root.uuid }}';

	var perioda_str = $('select#filter_perioda').val();
	var periodb_str = $('select#filter_periodb').val();

	if (ass.val() && ass.val() != none) {
		sel = ass.val();
	} else if (zss.val() && zss.val() != none) {
		sel = zss.val();
	} else if (dpss.val() && dpss.val() != none) {
		sel = dpss.val();
	}

	window.location = "{% url 'analysis' section blank_uuid '0000-00' '1111-11' %}".replace("{{ blank_uuid }}", sel).replace('0000-00', perioda_str).replace('1111-11', periodb_str);
});

{% block indicator_script_loop %}
{% for indic_slug, trd in elements.items %}
	$('#graph-{{ indic_slug}}').highcharts({
        chart: { type: 'line' },
        title: null,
        xAxis: { categories: [{% for period in trd.periods %}"{{ period.1.name }}",{% endfor %}] },
        plotOptions: {
            line: { dataLabels: { enabled: true }, enableMouseTracking: true },
            {% if trd.indicator.is_percent %}
            series: { dataLabels: { color: 'black', enabled: true,
            						formatter: function () {
	            						return Highcharts.numberFormat(this.y) + '%';
	            					}
    				}
	        },
	        {% endif %}
        },
        yAxis: { title: null, min:0 },
        series: [{
            name: "{{ trd.indicator.name }}",
            data: [
            	{% for point in trd.points %}
            		{
            			y: {% if point.id = None %}null{% else %}{{ point.value|stringformat:".2f" }}{% endif %},
            			{% if point.id %}
            			rid: '{{ point.id }}',
            			events: {
            				click: function (e) { window.location = "{% url 'raw_data_record' point.id %}"; }
            			},
            			{% endif %}
            		},
        		{% endfor %}
        	],
        }],
        exporting: { enabled: true, },
	    credits: { enabled: false, }
    });
{% endfor %}
{% endblock %}

{% block indicator_script %}
{% endblock %}

{% endblock %}
