{% extends "base.html" %}
{% load dmd %}

{% block title %}Section {{ section }} : {{ section_name }}{% endblock %}

{% block content %}
<form role="form" id="report_entity_filter" method="GET">
	{% csrf_token %}
	<div class="form-group inline-entity-container">
		<label for="entity_filter_division_provinciale_sante">R.D.C</label>
		{% include "parts/entity_filter_select.html" with root=root lineage=lineage children=children %}
		<label for="filter_perioda">De</label>
		{% include "parts/period_filter_select.html" with periods=periods selected_period=period  %}
	</div>
    <button type="submit" class="btn btn-default btn-primary btn-xs">sélectionner</button>
</form>
{% block section_main %}
<div class="row">
    <div class="col-md-12">
    	<div class="panel panel-default">
    		<div class="panel-heading">Complétude et promptitude des indicateurs pour {{ period }}</div>
    		<div class="panel-body">
    			<table class="table">
    				<thead>
	    				<tr>
	    					<th>#</th>
	    					<th>Indicateur</th>
	    					<th>Complétude</th>
	    					<th>Promptitude</th>
	    				</tr>
	    			</thead>
					{% for indicator, data in arrivals.items %}
					<tr>
						<th>{{ indicator.number }}</th>
						<th>{{ indicator }}</th>
						<td>{{ data.completeness|percent }}</td>
						<td>{{ data.promptness|percent }}</td>
    				</tr>
					{% endfor %}

    			</table>
			</div>
		</div>
		{% endblock %}
    </div>
</div>
{% endblock %}

{% block onJQready %}
var blank_uuid = "{{ blank_uuid }}";
$('form').on('submit', function (e) {
	e.preventDefault();
	var zss = $('select[data-level="zone_sante"]');
	var dpss = $('select[data-level="division_provinciale_sante"]');
	var none = '-1';
	var sel = '{{ root.uuid }}';

	var period_str = $('select#filter_period').val();

	if (zss.val() && zss.val() != none) {
		sel = zss.val();
	} else if (dpss.val() && dpss.val() != none) {
		sel = dpss.val();
	}

	window.location = "{% url 'section2' blank_uuid '0000-00' %}".replace("{{ blank_uuid }}", sel).replace('0000-00', period_str);
});
{% endblock %}
