{% load staticfiles %}<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>D.R.C Malaria Dashboard</title>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/open-sans.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/custom-styles.css" %}" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/static/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/static/apple-touch-icon-76x76.png">
	<link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/static/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/static/manifest.json">
	<link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#4aadce">
	<link rel="shortcut icon" href="/static/favicon.ico">
	<meta name="apple-mobile-web-app-title" content="PNLP RDC">
	<meta name="application-name" content="PNLP RDC">
	<meta name="msapplication-TileColor" content="#4aadce">
	<meta name="msapplication-config" content="/static/browserconfig.xml">
	<meta name="theme-color" content="#4aadce">
</head>

<body class="{{ page }}">
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Basculer navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">D.R.C Malaria Dashboard</a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                {% if user.is_authenticated %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> {{ user.partner }} <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        </li>
                        <!-- <li class="divider"></li> -->
                        <li><a href="{% url 'user_change_password' %}"><i class="fa fa-key"></i> Changement mot de passe</a>
                        </li>
                        <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> Déconnexion</a>
                        </li>
                    </ul>
                    {% else %}
                    <li><a href="{% url 'login' %}"><i class="fa fa-sign-in fa-fw"></i> Connexion</a>
                   	{% endif %}
                </li>
            </ul>
        </nav>

        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li><a {% if page = 'home' %}class="active-menu" {%endif %} href="{% url 'home' %}">
                    	<i class="fa fa-info-circle"></i> À propos</a>
                    </li>
                    <li><a {% if page = 'upload' %}class="active-menu" {%endif %}href="{% url 'upload' %}">
                        <i class="fa fa-edit"></i> Envoi données</a>
                    </li>
                    {% if user.partner.can_validate %}
                    <li><a {% if page = 'validation' %}class="active-menu" {%endif %}href="{% url 'validation' %}">
                        <i class="fa fa-check"></i> Validation</a>
                    </li>
                    {% endif %}
                    <li><a {% if page = 'raw_data' %}class="active-menu" {%endif %}href="{% url 'raw_data' %}">
                    	<i class="fa fa-table"></i> Données brutes</a>
                    </li>
                    <li {% if 'map' in page %}class="active active-menu" {%endif %}><a href="{% url 'map' %}" {% if 'map' in page %}aria-expanded="true"{% endif %}><i class="fa fa-map"></i> Cartographie<i class="fa fa arrow"></i></a>
                    	{% if 'map' in page %}
                        <ul class="nav nav-second-level" style="color: white;" {% if 'map' in page %}aria-expanded="true"{% endif %}>
                    		<li class="map-options-container" style="padding-left: .5em;"></li>
                    	</ul>
                    	{% endif %}
                    </li>
					<li {% if 'analysis' in page %}class="active active-menu" {%endif %}>
						<a href="#" {% if 'analysis' in page %}aria-expanded="true"{% endif %}><i class="fa fa-bar-chart-o"></i> Analyses<i class="fa fa arrow"></i></a>
                        <ul class="nav nav-second-level" {% if 'analysis' in page %}aria-expanded="true"{% endif %}>
                        	{% for section_id, section_name in sections.items %}
                        	<li><a {% if section = section_id %}class="active-menu" {%endif %} href="{% url 'analysis' section_id %}">Section {{ section_id }} : {{ section_name }}</a></li>
                        	{% endfor %}
                        </ul>
                    </li>
                    <li><a {% if page = 'export' %}class="active-menu" {%endif %}href="{% url 'export' %}">
                    	<i class="fa fa-file-excel-o"></i> Export brut</a>
                    </li>
                    {% if user.is_staff %}
                    <li class="divider"></li>
                    <li><a {% if page = 'users' %}class="active-menu" {%endif %}href="{% url 'users' %}">
						<i class="fa fa-users"></i> Utilisateurs</a>
                    </li>
                    {% endif %}
                </ul>

            </div>

        </nav>

        <div id="page-wrapper">
            <div id="page-inner">
            	{% if page != "map" %}
            	<div class="row">
				    <div class="col-md-12">
				        <h1 class="page-header">{% block title %}{% endblock %} <small>{% block subtitle %}{% endblock %}</small></h1>
				    </div>
				</div>
				{% endif %}
				
            	{% if messages %}
                <div id="notifications">
                {% for message in messages %}
                    <p class="alert alert-{% if message.tags == 'error'%}danger{% else %}{{ message.tags }}{% endif %}">{{ message|linebreaksbr }}<i class="icon-cancel close-notif-button"></i></p>
                {% endfor %}
                </div>
                {% endif %}
	            {% block content %}
	            {% endblock %}
				<!-- <footer><p>&copy; MEASURE Evaluation & PNLP – 2015</p></footer> -->
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <script src="{% static "js/jquery-1.10.2.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery.metisMenu.js" %}"></script>
    <script src="{% static "js/highcharts.js" %}"></script>
    <script src="{% static "js/clipboard.min.js" %}"></script>
    <script src="{% static "js/entity_filter.js" %}"></script>
</body>
{% block assets %}{% endblock %}
<script type="text/javascript">
$(document).ready(function(){
$('#main-menu').metisMenu({ toggle: false });
	$(window).bind("load resize", function () {
	    if ($(this).width() < 768) {
	        $('div.sidebar-collapse').addClass('collapse')
	    } else {
	        $('div.sidebar-collapse').removeClass('collapse')
	    }
	});
{% block onJQready %}{% endblock %}
});</script>
</html>
