{% extends "base.html" %}
{% load dmd %}

{% block title %}Tableau de bord{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">   	
		<div class="panel panel-default">
    		<div class="panel-heading">Complétude &amp; promptitude moyennes par DPS ({% if indicator %}{{ indicator.name }}{% else %}tous indicateurs{% endif %}) pour {{ period }}</div>
    		<div class="panel-body">
	    		<form role="form" id="report_entity_filter" method="GET">
					<div class="form-group inline-entity-container">
						{% include "parts/period_filter_select.html" with periods=periods selected_period=period %} 
						{% include "parts/entity_filter_select.html" with root=root lineage=lineage children=children %}
						{% include "parts/indicator_filter_select.html" with indicators=indicators selected_indicator=indicator include_empty=True %}
					</div>
				    <button type="submit" class="btn btn-default btn-primary btn-xs">filtrer</button>
				</form>

	    		<table class="table">
	    			<thead>
	    				<tr><th>DPS</th><th>Complétude</th><th>Promptitude</th></tr>
	    			</thead>
	    			<tbody>
	    				{% for dps, data in completeness.items %}<tr><th>{{ dps.short_name }}</th><td>{{ data.completeness|percent }}</td><td>{{ data.promptness|percent }}</td></tr>{% endfor %}
	    				<tr><th>MOYENNE</th><td>{{ mean_completeness|percent }}</td><td>{{ mean_promptness|percent }}</td></tr>
	    			</tbody>
	    		</table>
    		</div>        
    	</div>
    </div>
    <div class="col-md-6">  
	    <div class="panel panel-default">
	    	<div class="panel-heading">Évolution SP3 pour {{ root }}</div>
	    	<div class="panel-body">
	    		{% include "parts/graph.html" with title=sp3_title fname=sp3_fname id="sp3-evolution" categories=sp3_categories series=sp3_series %}
    		</div>
	    </div>
	</div>
</div>
{% endblock %}

{% block onJQready %}
register_form_for("{% url 'dashboard' '0000-00' 'aaaa' blank_uuid %}", ['period', 'indicator', 'entity']);
{% endblock %}
