{% extends "base.html" %}
{% load static %}

{% block title %}À propos de la base de données{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">   	
        <div class="jumbotron">
			<p>Cet outil est une plateforme d'aggregation et de visualisation des données Paludisme pour la République Démocratique du Congo.</p>
			<p>Son accès est restreint aux personnels de la division SNIS ainsi qu'à ceux des partenaires engagés dans la lutte contre le Paludisme en R.D.C.</p>
			<p>Si vous ne disposez pas de compte, merci de contacter les personnes suivantes :</p>
	    	<ul>
	    		<li><strong>PNLP</strong> : <a href="mailto:marcmuta9@gmail.com">Marc Muta</a></li>
	    		<li><strong>MEASURE Evaluation</strong> : <a href="mailto:Olivier.Kakesa@icfi.com">Dr Olivier KAKESA</a></li>
	    		<li><strong>Division SNIS</strong> : <a href="mailto:katanga.erick@gmail.com">Eric KATANGA</a></li>
	    	</ul>
	    	<p><a class="btn btn-default" href="{% static "Guide utilisateur BDD PNLP - dmd.pdf" %}"><i class="fa fa-download"></i> Télécharger le guide utilisateur</a></p>
		</div>
    </div>
</div>
{% endblock %}
