{% extends "base.html" %}
{% load static %}

{% block assets %}
<script type='text/javascript' src="{% static "js/spin.min.js" %}"></script>
<script type='text/javascript' src="{% static "js/jquery.spin.js" %}"></script>
<script src="{% static "js/malariapngmap.js" %}"></script>
{% endblock %}

{% block title %}Cartographie{% endblock %}

{% block content %}

<div id="map"><img /></div>
</div>
{% endblock %}

{% block onJQready %}
function maximizeMap() {
	console.log("resizing");
	var topBarHeight = $('.top-navbar').height();
	var availHeight = $(window).height() - topBarHeight;
	var sideHeight = $('.sidebar-collapse').height();
	$('#page-wrapper').css('minHeight', sideHeight+'px');
	$('#map').height(availHeight);
	var availWidth = $('#map').width();
	var imgSize = (availWidth > availHeight) ? availHeight : availWidth;
	$('#map img').width(imgSize);
	$('#map img').height(imgSize);
	console.log("resized img to " + imgSize);
}
maximizeMap();
$(window).resize(maximizeMap);
parts = "{% url 'api_indicators_list' col_type="survey" %}".rsplit("/");
parts.pop();
var indicators_url = parts.join("/");

parts = "{% url 'png_map' perioda_str="2014-01" periodb_str="2014-01" entity_name=root.short_name indicator_number="50" %}".rsplit("/");
parts.pop();
var png_api_url = parts.join("/");
mapManager = getPNGMalariaMapManager({
	load: true,
	indicator_api_url: indicators_url,
    root_slug: "{{ root.uuids }}",
    period_list: [{% for period in periods reversed %}{value: "{{ period.strid }}", label: "{{ period.name }}"}, {% endfor %}],
    dps_list: [{% for dps in dps_list %}{value: "{{ dps.uuids }}", label: "{{ dps.short_name }}"}, {% endfor %}],
    root_name: "{{ root.short_name }}",
    png_api_url: png_api_url,
});


{% endblock %}
