{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block title %}Envoi de données{% endblock %}

{% block content %}
<div class="alert alert-info">
<p>Les données doivent être transmises en utilisant le <strong>masque de saisie standard</strong>.</p>
<p>Pour plus d'informations sur l'envoi des données, veuillez consulter le <a class="btn btn-default" href="{% url 'upload_guide' %}"><i class="fa fa-book"></i> Guide d'envoi des données</a>.</p>
</div>
<div class="row">
    <div class="col-md-12">
    	<div class="panel panel-default">
    		<div class="panel-heading">Choisir le fichier Excel pour la transmission</div>
    		<div class="panel-body">

    			<form enctype="multipart/form-data" role="form" method="POST">
    			{% csrf_token %}

				{{ form|as_bootstrap }}

			    <button type="submit" class="btn btn-default btn-primary">Soumettre les données</button>
			</form>

		    </div>
		</div>
    </div>
</div>
{% endblock %}

