{% extends "base.html" %}
{% load bootstrap_tags %}

{% block title %}Création compte utilisateur{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">   	
    	<div class="panel panel-default">
    		<div class="panel-heading">Renseignez les informations du compte</div>
    		<div class="panel-body">
    		<form action="" method="POST">
    		{% csrf_token %}
    		{{ form|as_bootstrap }}
    		<button class="btn btn-primary" action="submit">Créer le compte</button>
    		</form>
		    </div>
		</div>
    </div>
</div>
{% endblock %}
