{% extends "base.html" %}
{% load bootstrap_tags %}

{% block title %}Création compte utilisateur{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">   	
    	<div class="panel panel-default">
    		<div class="panel-heading">Renseignez les informations du compte</div>
    		<div class="panel-body">
    		<form action="" method="POST">
    		{% csrf_token %}
    		{{ form|as_bootstrap }}
    		<button class="btn btn-primary" action="submit">Créer le compte</button>
    		</form>
		    </div>
		</div>
    </div>
</div>
{% endblock %}

{% block onJQready %}
function generateUsername() {
	var first_name = $('#id_first_name').val().toLowerCase().trim();
	var last_name = $('#id_last_name').val().toLowerCase().trim();
	if (first_name && last_name)
		return first_name[0] + last_name;
	else if (first_name)
		return first_name;
	else if (last_name)
		return last_name;
	return null;
}

function autoUpdateUsername() {
	var username = generateUsername();
	if (!username)
		return;
	$('#id_username').val(username);
}
$('#id_first_name').on('change', autoUpdateUsername);
$('#id_last_name').on('change', autoUpdateUsername);
{% endblock %}
