{% extends "base.html" %}
{% load dmd %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block title %}Validation des données{% endblock %}

{% block content %}
<div class="alert alert-info">
<p>Les données suivantes sont en attete de validation. Pour chaque données, vous devez choisir l'un des quatre état suivants :</p>
<ul>
	<li><strong>{{ form.STATUSES.values.1 }}</strong> : la donnée est acceptée telle quelle.</li>
	<li><strong>{{ form.STATUSES.values.2 }}</strong> : la donnée est refusée.</li>
	<li><strong>{{ form.STATUSES.values.3 }}</strong> : Vous pourrez indiquer une nouvelle valeur qui sera automatiquement validée (intégration d'une correction).</li>
	<li><strong>{{ form.STATUSES.values.0 }}</strong> : ne rien faire pour le môment. La donnée restera dans la liste jusqu'à ce que vous changiez son état ou que la date de validation automatique arrive.</li>
</ul>
<p><strong>Attention !</strong> Le changement est pris en compte uniquement après soumission du formulaire.</p>
</div>

{% if user.partner.validation_location.etype  == 'division_provinciale_sante' %}
<div class="row"><div class="col-md-12 "><div class="alert alert-warning">
	<p>Pour faciliter le travail de validation, vous pouvez télécharger un fichier de pointage manuel à utiliser avec chaque ZS :</p>
	<p>{% for period in recent_periods %}<a class="btn btn-default" href="{% url 'validation_pointage' period_str=period.strid %}"><i class="fa fa-file-excel-o"></i> Pointage {{ period }}</a> {% endfor %}</p>
</div></div></div>
{% endif %}

<div class="row">
    <div class="col-md-12">
    	<div class="panel panel-default">
    		<div class="panel-heading">Données en attente de validation</div>
    		<div class="panel-body">

    			{% if nb_total != records.count %}<p class="alert alert-warning"><strong>Note :</strong> vous avez trop de données à valider. Trouvez ci-dessous {{ records.count }} sur un total de {{ nb_total }}.</p>{% endif %}

    			<div class="form-inline">
	    			<p><label for="change_all">Changer tous :</label>
	    			<select name="change_all" class="form-control">
	    				{% for status, name in form.STATUSES.items %}
	    				{% if status != form.EDIT %}
	    					<option value="{{ status }}">{{ name }}</option>
	    				{% endif %}
	    				{% endfor %}
	    			</select></p>
	    		</div>

    			<form class="form-inline" method="POST">
    			{% csrf_token %}

    			<table class="table table-condensed table-striped">
    			<thead>
    				<tr><th><i class="fa fa-info-circle"></i></th><th>Période</th><th>Localité</th><th>Indicateur</th><th>Valeur</th><th>Action</th></tr>
    			</thead>
    			{% for dr in records %}
    			<tr id="status_{{ dr.id }}" data-record="{{ dr.id }}">
    				<td><i class="fa fa-info-circle hand details-popover" data-record="{{ dr.id }}"></i></td>
    				<td>{{ dr.period.strid }}</td>
    				<td>{{ dr.entity.short_name }}</td>
    				<td>{{ dr.indicator }}
    					<div class="edit-row" id="edit_{{ dr.id }}" data-record="{{ dr.id }}" style="display: none;">
    						<p>{% get_prefix_key form "numerator" dr.id "label_tag" %}
							{% get_prefix_key form "numerator" dr.id "errors" %}
							{% get_prefix_key form "numerator" dr.id %}</p>
							<p>{% get_prefix_key form "denominator" dr.id "label_tag" %}
							{% get_prefix_key form "denominator" dr.id "errors" %}
							{% get_prefix_key form "denominator" dr.id %}</p>
    					</div>
					</td>
    				<td class="{% if dr.data_is_suspect %}warning strong {% endif %}center">{{ dr.human }}</td>
    				<td>{% get_prefix_key form "status" dr.id %}</td>
    			</tr>
    			{% endfor %}
    			</table>

			    <button type="submit" class="btn btn-default btn-primary">Soumettre les données</button>
			</form>

		    </div>
		</div>
    </div>
</div>
{% for dr in records %}
<div style="display: none;" id="details_{{ dr.id }}">{% include "raw_data_record_noframe.html" with record=dr %}</div>
{% endfor %}
{% endblock %}

{% block onJQready %}
function drid_from_row(row) {
	return row.data('record');
}

function row_from_id(drid) {
	return $('#status_' + drid);
}

function edit_row_from_id(drid) {
	return $('#edit_' + drid);
}

// open rows in edit-mode (post submission with dj errors)
$('.edit-row').each(function (idx, elem) {
	var drid = drid_from_row($(this));
	var status_row = row_from_id(drid);
	var selected = status_row.find("select[id^='id_status']").val();
	if (selected != 'edit') {
		$(this).hide();
	} else {
		$(this).show();
	}
});

$('select').on('change', function (e) {
	var selected = $(this).val();
	var record = $(this).parent().parent().data('record');
	var next_row = $('#edit_' + record);
	if (selected == 'edit') {
		next_row.show();
	} else {
		next_row.hide();
	}
});

$('select[name="change_all"]').on('change', function (e) {
	$('select').val($(this).val());
	$('.edit-row').hide();
});

$('.details-popover').each(function (idx, elem) {
	function detail_for () {
		var rid = $(this).data('record');
		return $("#details_" + rid).html();
	}
	$(elem).popover({html: true, content: detail_for,
					 title: "Détails", trigger: "click hover",
					 template: '<div class="popover" role="tooltip"><div class="arrow"></div><div class="popover-content"></div></div>'});
});
{% endblock %}
