{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block title %}Validation des données{% endblock %}

{% block content %}
<div class="alert alert-info">
<p>Les données suivantes sont en attete de validation. Pour chaque données, vous devez choisir l'un des trois état suivants :</p>
<ul>
	<li><strong>Validée</strong> : la donnée est acceptée telle quelle.</li>
	<li><strong>Refusée</strong> : la donnée est refusée.</li>
	<li><strong>Modifier</strong> : Vous pourrez indiquer une nouvelle valeur qui sera automatiquement validée (intégration d'une correction).</li>
	<li><strong>Attendre</strong> : ne rien faire pour le môment. La donnée restera dans la liste jusqu'à ce que vous changiez son état ou que la date de validation automatique arrive.</li>
</ul>
<p><strong>Attention !</strong> Le changement est pris en compte uniquement après soumission du formulaire.</p>
</div>
<div class="row">
    <div class="col-md-12">
    	<div class="panel panel-default">
    		<div class="panel-heading">Données en attente de validation</div>
    		<div class="panel-body">

    			<form enctype="multipart/form-data" role="form" method="POST">
    			{% csrf_token %}

				{{ form|as_bootstrap }}

			    <button type="submit" class="btn btn-default btn-primary">Soumettre les données</button>
			</form>

		    </div>
		</div>
    </div>
</div>
{% endblock %}

